# geometry files
*.stl
*.igs
*.msh
*.vtk
*.iv
*.obj
*.emf

# MAF files
.msf

# MATLAB
*.asv

# folders
Geometry
4_run_simulations
__*
/_old
bone_datasets/
OpenSim_models/
docs/*.html
docs/*.m

*.zip
/*_safe/

# openSim files
*.log
*.osim
# used for checking intermediate steps of modelling
*.xml

#vim files
*.*~

